extends layout

block content
  div(class="demo")

    h1 Авторизация:
    p
      #user
        if(user)
          div(class="user-card")
            img(src="#{user.photoUrl}", alt="")
            div(class="user-data")
              span Имя: #{user.username}
                  p Вы авторизованы!
              br
              div(class="clear")
          a(href="/sign-out", class="sign-out") Выйти ←
        else
          p Вы не авторизованы!
          a(href="/auth") Авторизоваться →