doctype html
html
  head
    title Авторизация
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/css/main.css')
    meta(name="robots", content="noindex,nofollow")
  body
    block content